@model TrashCollecter.Models.EmployeeModel

@{
    ViewBag.Title = "FilterByDate";
}

<p>
    @*@Html.ActionLink("Create New", "Create")*@

    @using (Html.BeginForm())
    {

    <p>
        Enter Date: @Html.TextBox("date") <br />
        <input type="submit" value="Filter" />
    </p>
    
}

