@{
    ViewBag.Title = "Home Page";
}
@*<body>
    <centre>
        <img src="~/Images/images_trash-drawing-7.jpg" />
    </centre>
</body>*@
<!DOCTYPE html>
<html>
<head>
    <title>Motush Trash Collector</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
    <style>

        body {
            background-position: center;
            height: 750px;
            background-image: url('../../Images/images_trash-drawing-7.jpg');
            background-position: center;
            background-repeat: no-repeat, repeat;
            padding: 150px;
        }
    </style>
    </body>
</html>